<h1>Check some boxes</h1>

<%= link_to 'play', '#', id: "play" %>
<%= link_to 'stop', '#', id: "stop" %>


<%= link_to 'A', '#', id: "noteA", :data => { :'freq' => 440 }%>

<div class="array-container">
  <% 12.times do |i| %>
  <div class="array-row">
    <ul>
      <% 12.times do |j| %>
        <%= check_box_tag "box[#{i}][#{j}]", i %>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
